* {
    /* border: 2px solid red; */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #618292c9;
    margin: 0 0 150px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 10px 0 0;
    background-color: #05415d;
    border: none;
    box-shadow: 2px 2px 10px #000;

}

nav>a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    background: black;
    margin: 0;
    /* border-radius: 8px; */
    font-size: 1.85rem;
    font-weight: 900;
    letter-spacing: .2rem;
}

nav button {
    background: none;
    color: white;
    font-size: 1.5rem;
    border: none;
}

nav div {
    display: flex;
}

nav div a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
}

#plots div {
    top: 60px;
    right: 150px;
    background: #05415d;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: scale(0);
    opacity: .85;
}

#plots>button:focus+div, #plots div:hover {
    display: block;
    -webkit-transition: transform .25s linear;
    -moz-transition: transform .25s linear;
    -ms-transition: transform .25s linear;
    -o-transition: transform .25s linear;
    transition: transform .25s linear;
    transform: scale(1);
}

#logo {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 70px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #4aaaa5;
}

#logo:hover {
    opacity: 0.7;
}

@media only screen and (max-with: 767px) {
    body {
        background-color: #fff;
    }

    .navbar-header {
        background-color: #4aaaa5;
    }

    #logo {
        width: 100%;
        height: 60px;
        padding-top: 20px;
        padding-bottom: 5px;
        margin-left: 0;
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        background-color: #4aaaa5;
    }

    .decription-content {
        padding: 0;
        margin-top: 0;
    }
}

.comHeader {
    padding: 30px 0 0 20px;
}

#mainDash {
    width: 60%;
    padding: 10px;
    margin-top: 32px;
    background-color: #fff;
    box-shadow: 2px 2px 20px #000;
    margin-bottom: 33px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4aaaa5;
}

#mainDash img {
    float: left;
}

#mainDash>p {
    padding-top: 20px;
    /* font-size: 16px; */
    line-height: 30px;
    color: slategray;
    text-align: justify;
}

#sideDash {
    width: 35%;
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 10px #000;
    margin-bottom: 33px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: #4aaaa5;
}

#sideDash hr {
    width: 95%;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#images a {
    width: 48%;
    border: 4px solid transparent;
}

#images a img {
    width: 100%;
}

#images a:hover {
    border: 4px solid red;
}

.comparison-image:hover {
    opacity: 0.6;
}

.comparison-header {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #4aaaa5;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: #666;
}

.text-muted-footer {
    margin-top: 15px;
    color: #fff;
}

.two-toned-footer-color {
    height: 6px;
    padding-top: 3px;
    background-color: #4aaaa5;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.dataDiv {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 1px 10px;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 2px 10px 10px black;
}

thead {
    background-color: rgb(4, 64, 92);
    color: white;
}

.comparisonDiv {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 5%;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
        margin: 0 auto;
    }
}