html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #618292c9;
}

#logo {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: 70px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #4aaaa5;
}

#logo:hover {
    opacity: 0.7;
}

.navbar-right-custom {
    padding-top: 6px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

@media only screen and (max-with: 767px) {
    body {
        background-color: #fff;
    }
    .navbar-header {
        background-color: #4aaaa5;
    }
    #logo {
        width: 100%;
        height: 60px;
        padding-top: 20px;
        padding-bottom: 5px;
        margin-left: 0;
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        background-color: #4aaaa5;
    }
    .decription-content {
        padding: 0;
        margin-top: 0;
    }
}

.description-header {
    margin-bottom: 33px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
}

.comHeader {
    padding: 30px 0 0 20px;
}

.description-content {
    padding: 30px;
    margin-top: 32px;
    background-color: #fff;
    width: fit-content;
}

.description-content>p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: slategray;
    text-align: justify;
}

.description-text {
    padding-bottom: 20px;
}

#description-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
}

.imageNav-header {
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
}

.imageNav-photo {
    width: 49%;
}

.imageNav-photo:hover {
    opacity: 0.6;
}

.imageNav-photo:active {
    border: 2px solid #4aaaa5;
}

#images {
    padding-top: 15px;
    text-align: center;
}

.comparison-image:hover {
    opacity: 0.6;
}

.comparison-header {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #4aaaa5;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: #666;
}

.text-muted-footer {
    margin-top: 15px;
    color: #fff;
}

.two-toned-footer-color {
    height: 6px;
    padding-top: 3px;
    background-color: #4aaaa5;
}

.comImgDiv {
    display: grid;
    grid-template-areas: "comLeft comRight";
}

.comLeft {
    text-align: center;
}

.comRight {
    text-align: center;
}

.img-responsive {
    width: 100%;
}

.whiteDiv {
    background-color: #fff;
    padding-bottom: 60px;
    width: 90%;
    margin: auto;
}

.container {
    display: grid;
    grid-gap: 4%;
    grid-template-areas: "mainDash sideDash";
    grid-template-columns: 2fr 1fr;
}

.mainDash {
    overflow: hidden;
    grid-area: mainDash;
    box-shadow: 2px 2px 20px #000;
}

.dataDiv {
    width: 80%;
    margin: auto;
}

.comparisonDiv {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 5%;
}

.sideDash {
    display: flex;
    overflow: hidden;
    grid-area: sideDash;
    box-shadow: 2px 2px 10px #000;
    height: 40vh;
}

.imageNav-content {
    background-color: #fff;
    padding: 10px;
}

.sideInnerDiv {
    width: 100%;
}

.navbar {
    background-color: #05415d;
    border: none;
    box-shadow: 2px 2px 10px #000;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 1.5rem;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

#imageNav-area {
    display: flex;
    width: 100%;
    height: 370px;
    margin-top: 32px;
    background-color: #fff;
}
.description-content {
    padding: 0px;
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-gap: 1%;
        grid-template-areas: "sideDash" "mainDash";
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }
    .description-content {
        padding: 0px;
    }
    #logo {
        margin-left: 0;
    }
    .col-xs-9 {
        padding-left: 0px;
    }
    #imageNav-area {
        margin-top: 0px;
    }

    .sideDash {
        overflow: scroll;
    }
    .sideDash::-webkit-scrollbar {
        display: none;
    }
    table {
        display: flex       ;
    }
}